@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-gpu {
  transform: translate3d(0, 0, 0);
}

/* Asegurar que el contenedor tenga perspectiva */
.group {
  perspective: 1000px;
}